services:
  - type: web
    name: recife-epis
    env: node
    region: oregon
    plan: free
    buildCommand: pnpm install && pnpm build
    startCommand: NODE_ENV=production node dist/index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: JWT_SECRET
        generateValue: true
      - key: DATABASE_URL
        value: ""
